
BedAndBreakfast/.vs/BedAndBreakfast/v16/.suo
*.lock
*.ide
*.ide-shm
*.ide-wal
*.config
*.exe
*.pdb
*.resources
BedAndBreakfast/BedAndBreakfast/obj/Debug/BedAndBreakfast.csproj.FileListAbsolute.txt
*.cache
BedAndBreakfast/BedAndBreakfast/Properties/AssemblyInfo.cs
FiveColors/.vs/FiveColors/v16/.suo
FiveColors/FiveColors/obj/Debug/FiveColors.csproj.FileListAbsolute.txt
*.settings
FiveColors2/.vs/FiveColors2/v16/.suo
FiveColors2/FiveColors2/obj/Debug/FiveColors2.csproj.FileListAbsolute.txt
MyFlix/.vs/MyFlix/v16/.suo
MyFlix/MyFlix/obj/Debug/MyFlix.csproj.FileListAbsolute.txt
FontSelector/.vs/FontSelector/v16/.suo
FontSelector/FontSelector/obj/Debug/FontSelector.csproj.FileListAbsolute.txt
